body {
    margin: 20px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
}

caption {
    font-family: sans-serif;
    font-weight: bold;
}

thead {
    font-family: sans-serif;
}

tbody {
    font-family: sans-serif;
}

td,
th,
caption {
    border: 1px solid #000;
}

caption {
    border-bottom: none;
}

.th-red {
    color: red;
}

.number {
    color: red;
}